@keyframes UpComing {
    0% {
        transform: translateY(-100px); //-100px to 0
        opacity: 0; // to opacity 1
    }
    100% {
        transform: translateY(0px); //-100px to 0
        opacity: 1; // to opacity 1
    }
}
@keyframes downComing {
    0% {
        transform: translateY(300px); //translateY to 0
        opacity: 0; // to opacity 1
    }
    100% {
        transform: translateY(0px); //translateY to 0
        opacity: 1; // to opacity 1
    }
}
@keyframes LeftComing {
    0% {
        transform: translateX(-100px);
            opacity: 0;
    }
    100% {
        transform: translateX(0px);
            opacity: 1;
    }
}
@keyframes RightComing {
    0% {
        transform: translateX(150px);
            opacity: 0;
    }
    100% {
        transform: translateX(0px);
            opacity: 1;
    }
}
@keyframes animate-border {
    20% {
        border-radius: 45% 55% 62% 38% / 53% 51% 49% 47%;
      }
      40% {
        border-radius: 45% 55% 49% 51% / 36% 51% 49% 64%;
      }
      60% {
        border-radius: 60% 40% 57% 43% / 47% 62% 38% 53%;
      }
      80% {
        border-radius: 60% 40% 32% 68% / 38% 36% 64% 62%;
      }
  }
  @keyframes animate-object {
    0% {
      transform: rotate(-1deg) translate(-5%, 0%);
    }
    10% {
      transform: rotate(0deg) translate(-4%, -2%);
    }
    20% {
      transform: rotate(1deg) translate(-3%, -5%);
    }
    25% {
      transform: rotate(2deg) translate(-1%, 0%);
    }
  
    50% {
      transform: rotate(3deg) translate(2%, 4%);
    }
    55% {
      transform: rotate(2deg) translate(4%, 3%);
    }
    60% {
      transform: rotate(1deg) translate(6%, 0%);
    }
    65% {
      transform: rotate(0deg) translate(4%, 0%);
    }
    70% {
      transform: rotate(-1deg) translate(2%, -2%);
    }
    75% {
      transform: rotate(-2deg) translate(-1%, 0%);
    }
    90% {
      transform: rotate(-3deg) translate(-2%, 4%);
    }
    95% {
      transform: rotate(-2deg) translate(-4%, -2%);
    }
    100% {
      transform: rotate(-1deg) translate(-5%, 0%);
    }
  }
  @keyframes shootStar {
    0% {
      transform: translateX(0) translateY(0) rotate(-45deg) scaleX(0) scaleY(0);
      opacity: 0;
    }
    5% {
      transform: translateX(-200px) translateY(200px) rotate(-45deg) scaleX(3.33)
        scaleY(0.14);
      opacity: 1;
    }
    7%,
    100% {
      transform: translateX(-220px) translateY(220px) rotate(-45deg) scaleX(0)
        scaleY(0);
      opacity: 0;
    }
  }