//container display
.container {
    margin-bottom:150px;
}
.fullview-container {
    width: 70vw;
    min-height: calc(100vh - 190px);
    margin-left:auto;
    margin-right: auto;
    position: relative;
}
@media screen and (min-width: 700px) {
    .fullview-container {
        width: 60vw;
    }
}
.OneCol {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    //margin-bottom:50px;
    margin-top: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.OneCol.marginless {
    margin-bottom:0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
.OneCol.marginless.title {
    margin-bottom: 30px;
}
.OneCol.center {
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.small-width {
    width:60vw;
    max-width: 400px;
}
@media screen and (min-width:700px) {
    .small-width.margin-left {
        margin-left: 30vw;
    }
    .small-width.margin-right {
        margin-right: 30vw;
    }
}
.mid-width {
    max-width: 600px;
}
.OneCol.left {
    margin-right: 0px;
}
.row-spacebet {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.col-reverse-to-row-desk {
    
    display:flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
}
.col-to-row-reverse-desk {
    
    display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.col-to-row-desk {
    
    display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    .main-descr {
        margin-bottom: -30px;
        margin-top:0;
        z-index: 999;

        .big-title {
            margin-top:0;
        }
    }
}
.full-width {
    width: 100vw;
    max-width: none;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;

}
.margin-bottom {
    margin-bottom: 100px;
}
.margin-top {
    margin-top: 400px;
}
@media screen and (min-width: 700px) {
    .col-reverse-to-row-desk {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .col-to-row-desk {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        div {
            margin-bottom: 0px;
        }
    }
    .fullview-container.col-to-row-desk {
        justify-content: space-around;
    }
    .col-to-row-reverse-desk {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
    .OneCol.left {
        margin-right: 200px;
    }
}
.row-wrap-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}