// fade-in animations
.fade-left {
    transform: translateX(-100px);
            opacity: 0;
}
.fade-left.start {
    transform: translateX(-100px);
            opacity: 0;
    animation-name: LeftComing;
            animation-duration: 0.3s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            animation-delay: 0.3s;
            animation-timing-function: ease-in-out;
}
.fade-right {
    transform: translateX(150px);
            opacity: 0;
    display:none;
}
.fade-right.start {
    display:flex;
    transform: translateX(150px);
            opacity: 0;
    animation-name: RightComing;
            animation-duration: 0.3s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            animation-delay: 0.3s;
            animation-timing-function: ease-in-out;
}
.fade-up {
    transform: translateY(-100px);
            opacity: 0;
}
.fade-shoot-left {
    transform: translate(-200%, -200%) scale(0.2);
            opacity: 0;
    border-radius: 42% 58% 33% 67% / 68% 32% 68% 32%;
    display:none;
}
.fade-shoot-left.start {
    display:block;
    transform: translate(-200%, -200%) scale(0.2) rotate(45deg) scaleX(0.2)
        scaleY(0.2);
        opacity: 0;
    border-radius: 42% 58% 33% 67% / 68% 32% 68% 32%;
            animation-name: animate-border, fadeshootleft;
            animation-duration: 10s, 0.3s;
            animation-iteration-count: infinite, 1;
            animation-fill-mode: forwards;
            animation-delay: 0s;
            animation-timing-function: linear, cubic-bezier(1,1.59,.61,.74);
}
.fade-spinner {
        display: block;
        transform-origin: center center;
        transform: scale(0.1) rotate(-365deg);
}
.fade-up.start {
    transform: translateY(-100px);
            opacity: 0;
    animation-name: UpComing;
            animation-duration: 0.3s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            animation-delay: 0.3s;
            animation-timing-function: ease-in-out;
}
.fade-down {
    transform: translateY(100px);
            opacity: 0;
}
.fade-down.start {
    transform: translateY(100px);
            opacity: 0;
    animation-name: downComing;
            animation-duration: 0.3s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            animation-delay: 0.3s;
            animation-timing-function: cubic-bezier(.5,.01,.61,1.79);
}