a.CTA {
    background: $CTA-color;
    color: $white;
    font-weight: 500;
    border: none;
    width: fit-content;
    padding: 10px 30px;
}
a.CTA:hover {
    filter: drop-shadow(3px 4px 14px $CTA-color);
    transform: scale(1.1);
}
.container {
    margin-bottom:150px;
}
.fullview-container {
    width: 80vw;
    min-height: calc(100vh - 190px);
    margin-left:auto;
    margin-right: auto;
}
.OneCol {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    margin-bottom:50px;
    margin-top: 30px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.OneCol.marginless {
    margin-bottom:0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
.OneCol.marginless.title {
    margin-bottom: 30px;
}
.small-width {
    width:70vw;
    max-width: 400px;
}
.mid-width {
    width:80vw;
    max-width: 600px;
}
.OneCol.left {
    margin-right: 0px;
}
.col-reverse-to-row-desk {
    
    display:flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
}
.col-to-row-reverse-desk {
    
    display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}
.col-to-row-desk {
    
    display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    .main-descr {
        margin-bottom: -30px;
        margin-top:0;
        z-index: 999;

        .big-title {
            margin-top:0;
        }
    }
}
.big-title {
    font-family: Playfair Display;
            font-style: normal;
            font-weight: normal;
            text-transform: uppercase;
            //font-size responsive
            font-size: $title-font-size;
            line-height: $base-line-height;
            @media #{$mq-medium} {
                font-size: $title-font-size*1.1;
                line-height: $base-line-height*1.1;
            }
    
            @media #{$mq-large} {
                font-size: $title-font-size*1.2;
            }
    
             @media #{$mq-xlarge} {
                font-size: $title-font-size*1.3;
            }
    
            @media #{$mq-xxlarge} {
                font-size: $title-font-size*1.4;
            }
    margin-bottom: 30px;
}
.little-title {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
            //font-size responsive
            font-size: $little-title-font-size;
            line-height: $base-line-height;
            @media #{$mq-medium} {
                font-size: $little-title-font-size*1.1;
                line-height: $base-line-height*1.1;
            }
    
            @media #{$mq-large} {
                font-size: $little-title-font-size*1.2;
            }
    
             @media #{$mq-xlarge} {
                font-size: $little-title-font-size*1.3;
            }
    
            @media #{$mq-xxlarge} {
                font-size: $little-title-font-size*1.4;
            }
    margin-bottom: 20px;
}
.note-hero {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: $black;
    margin-bottom: 20px;
    //font-size responsive
    font-size: $link-font-size;
    line-height: $base-line-height;
    @media #{$mq-medium} {
        font-size: $link-font-size*1.1;
        line-height: $base-line-height*1.1;
      }
    
      @media #{$mq-large} {
        font-size: $link-font-size*1.2;
      }
    
      @media #{$mq-xlarge} {
        font-size: $link-font-size*1.3;
      }
    
      @media #{$mq-xxlarge} {
        font-size: $link-font-size*1.4;
      }
}
.inline-CTA {
    display: inline-block;
    color: $CTA-color;
}
.fade-left {
    transform: translateX(-100px);
            opacity: 0;
}
.fade-left.start {
    transform: translateX(-100px);
            opacity: 0;
    animation-name: LeftComing;
            animation-duration: 0.3s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            animation-delay: 0.3s;
            animation-timing-function: ease-in-out;
}
.fade-right {
    transform: translateX(150px);
            opacity: 0;
    display:none;
}
.fade-right.start {
    display:flex;
    transform: translateX(150px);
            opacity: 0;
    animation-name: RightComing;
            animation-duration: 0.3s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            animation-delay: 0.3s;
            animation-timing-function: ease-in-out;
}
.fade-up {
    transform: translateY(-100px);
            opacity: 0;
}
.fade-shoot-left {
    transform: translate(-200%, -200%) scale(0.2);
            opacity: 0;
    border-radius: 42% 58% 33% 67% / 68% 32% 68% 32%;
    display:none;
}
.fade-shoot-left.start {
    display:block;
    transform: translate(-200%, -200%) scale(0.2) rotate(45deg) scaleX(0.2)
        scaleY(0.2);
        opacity: 0;
    border-radius: 42% 58% 33% 67% / 68% 32% 68% 32%;
            animation-name: animate-border, fadeshootleft;
            animation-duration: 10s, 0.3s;
            animation-iteration-count: infinite, 1;
            animation-fill-mode: forwards;
            animation-delay: 0s;
            animation-timing-function: linear, cubic-bezier(1,1.59,.61,.74);
}
.fade-up.start {
    transform: translateY(-100px);
            opacity: 0;
    animation-name: UpComing;
            animation-duration: 0.3s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            animation-delay: 0.3s;
            animation-timing-function: ease-in-out;
}
.fade-down {
    transform: translateY(300px);
            opacity: 0;
}
.fade-down.start {
    transform: translateY(300px);
            opacity: 0;
    animation-name: downComing;
            animation-duration: 0.3s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            animation-delay: 0.3s;
            animation-timing-function: cubic-bezier(.5,.01,.61,1.79);
}
.animate-border {
    border-radius: 42% 58% 33% 67% / 68% 32% 68% 32%;
    animation-name: animate-border;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-timing-function: linear;
}
@media screen and (min-width: 700px) {
    .col-reverse-to-row-desk {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .col-to-row-desk {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        div {
            margin-bottom: 0px;
        }
    }
    .fullview-container.col-to-row-desk {
        justify-content: space-around;
    }
    .col-to-row-reverse-desk {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
    .OneCol.left {
        margin-right: 200px;
    }
}
.opposite-background {
    background: $black;
    width: 100vw;
    max-width: 100vw;
    position: relative;
    padding-top: 100px;
    h2 {
        color: $white;
    }
    h3 {
        color: $white;
    }
    h4 {
        color: $white;
    }
    p {
        color: $white;
    }
    a {
        color: $white;
        border: 1px solid $white;
    }
}
.full-width {
    width: 100vw;
    max-width: none;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.swipe-container {
    display: flex;
    align-items: center;
    --n: 1;
    --w: 60vw;
    transition: all 300ms ease-in-out;
    //width: calc(var(--n)*60vw);
    //transform: translate(calc(var(--i)/var(--n)*-60vw));

    

    .swipe-content {
        min-width: 60vw;
        max-width: 60vw;
        padding-right: 50px;
        padding-left:10px;
        height: 300px;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        //width: calc(60vw/var(--n));
    }
}
.slider-buttons {
    display: none;
    z-index: 99;
}
.slider-button {
    position: absolute;
    top: calc(50% + 2em + 50px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid $black;
    border-radius: 100%;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    p {
        display: block;
        position: absolute;
        top:-50%;
    }
}
.button-left.slider-button {
    left:10vw;
}
.button-right.slider-button {
    right:10vw;
}
.slider-button:hover,
.slider-button:focus {
    transform: scale(1.1);
}
@media screen and (min-width: 700px) {
    .swipe-container {
        //width: calc(var(--n)*100vw);
        //transform: translate(calc(var(--i)/var(--n)*-100vw));
        
    
        .swipe-content {
            min-width: 100vw;
            max-width: 100vw;
            height: 60vh;
            padding: 0px;
            padding-left: 0px;
            width: calc(100vw/var(--n));
        }
    }
    .slider-buttons {
        display: flex;
    }
}