header {
    z-index: 9998;
    position: fixed;
    top:0;
    right: 0;
    min-width: calc(100vw - 30px);
    padding-left: 30px;
    padding-right: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: rgba($color: #F3F3F3, $alpha: 0.0); //to alpha 1
    transition: all 300ms ease-in-out;

    .main-logo {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        width: 15vw;
        height: 50px;
        border: none;

        h1 {
            position: absolute;
            top: -300px;
            opacity: 0;
        }
        .title {
            font-family: Playfair Display;
            font-style: normal;
            font-weight: normal;
            text-transform: lowercase;
            //font-size responsive
            font-size: $title-font-size;
            line-height: $base-line-height;
            @media #{$mq-medium} {
                font-size: $title-font-size*1.1;
                line-height: $base-line-height*1.1;
            }

            @media #{$mq-large} {
                font-size: $title-font-size*1.2;
            }

            @media #{$mq-xlarge} {
                font-size: $title-font-size*1.3;
            }

            @media #{$mq-xxlarge} {
                font-size: $title-font-size*1.4;
            }
        }
    }
    .main-nav {
        position: relative;
        z-index: 9999;
        width: 60px; //60px to 100vw
        height: 60px; //60px to 100vh
        border-radius: 50px;
        background: none;
        margin-right: 30px; //30px to 0
        margin-top:0px;
        transition: all 300ms ease-in-out;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        overflow: hidden;

        button {
            background: none;
            outline: none;
            cursor: pointer;
            position: absolute;
            transition: all 300ms ease-in-out;

        }
        .hamburger {
            width:60px;
            height: 60px;
            z-index: 10005;
            top:0;
            right:0;
            opacity: 0;
            display: block; // to none
        }
        .close-nav {
            width: 60px;
            height: 60px;
            display: flex; // to flex
            flex-direction: row;
            justify-content: center;
            align-items: center;
            top: 15px; //30
            right: 15px; //30
            transform: translateY(-100px); //-100px to 0
            opacity: 0; // to opacity 1
            transition: all 300ms ease-in-out;
            
            
            &::before,
            &::after {
                content: '';
                display: block;
                width:50px;
                height:2px;
                background: $black;
                transform-origin: center;
            }
            &::before {
                transform: rotate(-45deg) translate(4px, 4px);
            }
            &::after {
                transform: rotate(45deg) translate(-11px, 10px);
            }
        }
        ul {
            margin: 0;
            padding: 0;
            margin-right: 20%; // 10px to 70px
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            transform: scale(0.1) translate(517px, 229px) scaleX(2.5); // scale 0.1 to 1 & translate to 0, 0 & scaleX to 1
            transition: all 500ms ease-in-out;

            li {
                background-color: $black; // $white to none
                display: flex;
                justify-content: flex-end;
                width:fit-content;
                margin-bottom: 70px; //70px to 25
                transform: scaleY(0.8); // scaleY to 1
                transition: all 500ms ease-in-out;

                a {
                    border: none;
                    color: $black;
                    letter-spacing: 3px;
                    font-weight: 500;
                    //font-size responsive
                    font-size: $link-font-size;
                    line-height: $base-line-height;
                    @media #{$mq-medium} {
                        font-size: $link-font-size*1.1;
                        line-height: $base-line-height*1.1;
                    }
    
                    @media #{$mq-large} {
                        font-size: $link-font-size*1.2;
                    }
    
                    @media #{$mq-xlarge} {
                        font-size: $link-font-size*1.3;
                    }
    
                    @media #{$mq-xxlarge} {
                        font-size: $link-font-size*1.4;
                    }
                }
            }
            .fade-in {
                transform: translateY(500px); //translateY to 0
                opacity: 0; // to opacity 1
                transition: all 300ms ease-in-out;
                
                .CTA {
                    color: $white;
                }
            }
            .nav-link.active {
                a {
                    color: $CTA-color;
                    transform: scale(1.20);
                }
            }
        }
    }
    .main-nav.open {
        width: 100vw; 
        height: 100vh;
        margin-right: 0px;
        border-radius: 0px;
        background: $white;

        .close-nav {
            display: flex; // to flex
            transform: translateY(-100px); //-100px to 0
            opacity: 0; // to opacity 1
            animation-name: UpComing;
            animation-duration: 0.3s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            animation-delay: 0.3s;
            animation-timing-function: ease-in-out;
        }
        .hamburger {
            display: none;
        }

        ul {
            transform: scale(1) translate(0px, 0px) scaleX(1);

            li {
                background-color: rgba($color: #F3F3F3, $alpha: 0);
                margin-bottom: 25px;
                transform: scaleY(1);
            }
            .fade-in {

                //fade-down anim
                transform: translateY(500px);
                opacity: 0;
                animation-name: downComing;
                animation-duration: 0.3s;
                animation-iteration-count: 1;
                animation-fill-mode: forwards;
                animation-delay: 0.5s;
                animation-timing-function: ease-in-out;
            }
        }
    }
}
@media screen and (min-width: 1000px) {
    @import 'header-desktop';
}
header.scrolled {
    background: rgba($color: #F3F3F3, $alpha: 1.0);
}