.inside-nav {
    position: fixed;
    top:30%;
    left:0;
    transform: translateY(-50%);
    padding-left:50px;
    z-index: 9999;
    display: none;

    ul {
        max-height:80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        .inside-link {
            a {
                font-size: $little-link-font-size;
                border: none;
                font-weight: 300;
                color: $black;
            }
        }
        .inside-link.active {
            a {
                font-weight: 600;
                color: $CTA-color;
                transform: scale(1.1);
            }
        }

    }
}
@media screen and (min-width: 700px) {
    .inside-nav {
        display: block;
    }
}