main {
    margin-top: 120px;
    position: relative;

    .home {
        .main-descr {
            animation-delay: 0.8s;
        }
        
        .main-anim {
            width: 80vw;
            max-width: 500px;
            height:50vh;
            max-height:400px;
            position: relative;
            display:flex;
            justify-content: center;
            align-items: center;
            transform: translateX(-0%) scale(1);
            transition: all 300ms ease-in-out;
        

            .scene-anim {
                width:100%;
                height: 100%;
                z-index: 99;
                position: relative;
                background: url(/img/main-anim/stars.svg),radial-gradient(144.08% 144.08% at 128.66% 110.14%, rgba(165, 198, 240, 0.81) 0%, rgba(255, 255, 255, 0.16) 100%), radial-gradient(86.02% 86.02% at -13.5% 126.41%, #E4665C 0%, #424F60 100%);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                overflow: hidden;

                .planet1 {
                    width: 30%;
                    height: 30%;
                    background: url(img/main-anim/planet1.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    position: absolute;
                    right: -9%;
                    top: 42%;
                    animation: animate-object 30s linear infinite;
                    animation-delay: -25s;
                    transition: all 3ms 3ms ease-in-out;
                    transform: translateX(0);
                    z-index: 999;
                }
                .planet2 {
                    width: 14%;
                    height: 14%;
                    background: url(img/main-anim/planet2.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    position: absolute;
                    right: 63%;
                    top: 9%;
                    animation: animate-object 50s linear infinite;
                    animation-delay: -35s;
                    transition: all 3ms 3ms ease-in-out;
                    transform: translateX(0);
                  }
                  .planet3 {
                    width: 30%;
                    height: 30%;
                    background: url(img/main-anim/planet3.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    position: absolute;
                    right: 50%;
                    top: 20%;
                    -webkit-animation: animate-object 30s linear infinite;
                    animation: animate-object 30s linear infinite;
                    -webkit-animation-delay: -5s;
                    animation-delay: -5s;
                    -webkit-transition: all 3ms 3ms ease-in-out;
                    transition: all 3ms 3ms ease-in-out;
                    -webkit-transform: translateX(0);
                    transform: translateX(0);
                  }
                  .planet4 {
                    width: 30%;
                    height: 30%;
                    background: url(img/main-anim/planet4.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    position: absolute;
                    right: 78%;
                    top: 42%;
                    -webkit-animation: animate-object 13s linear infinite;
                    animation: animate-object 13s linear infinite;
                    -webkit-animation-delay: -6.5s;
                    animation-delay: -6.5s;
                    -webkit-transition: all 3ms 3ms ease-in-out;
                    transition: all 3ms 3ms ease-in-out;
                    -webkit-transform: translateX(0);
                    transform: translateX(0);
                  }
                  .planet5 {
                    width: 30%;
                    height: 30%;
                    background: url(img/main-anim/planet5.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    position: absolute;
                    right: 14%;
                    top: 6%;
                    -webkit-animation: animate-object 50s linear infinite;
                    animation: animate-object 50s linear infinite;
                    -webkit-animation-delay: -10s;
                    animation-delay: -10s;
                    -webkit-transition: all 3ms 3ms ease-in-out;
                    transition: all 3ms 3ms ease-in-out;
                    -webkit-transform: translateX(0);
                    transform: translateX(0);
                  }
                  .shootStar {
                    width: 5px;
                    height: 5px;
                    background: white;
                    border-radius: 100%;
                    position: absolute;
                    top: -10%;
                    right: 20%;
                    opacity: 0;
                    animation-name: shootStar;
                    animation-duration: 8s;
                    animation-iteration-count: infinite;
                    animation-delay: 0s;
                    animation-timing-function: ease-in-out;
                  }
                  .shootStar-2 {
                    width: 5px;
                    height: 5px;
                    background: white;
                    border-radius: 100%;
                    position: absolute;
                    top: -30%;
                    right: 10%;
                    opacity: 0;
                    animation-name: shootStar;
                    animation-duration: 8s;
                    animation-iteration-count: infinite;
                    animation-delay: 2s;
                    animation-timing-function: ease-in-out;
                  }
                  .shootStar-3 {
                    width: 5px;
                    height: 5px;
                    background: white;
                    border-radius: 100%;
                    position: absolute;
                    top: -15%;
                    right: 1%;
                    opacity: 0;
                    animation-name: shootStar;
                    animation-duration: 8s;
                    animation-iteration-count: infinite;
                    animation-delay: 3s;
                    animation-timing-function: ease-in-out;
                  }
                  .shootStar-4 {
                    width: 5px;
                    height: 5px;
                    background: white;
                    border-radius: 100%;
                    position: absolute;
                    top: -20%;
                    right: 20%;
                    opacity: 0;
                    animation-name: shootStar;
                    animation-duration: 8s;
                    animation-iteration-count: infinite;
                    animation-delay: 5s;
                    animation-timing-function: ease-in-out;
                  }
                  
            }
            .circle-anim {
                width:100%;
                height: 100%;
                background: $light-grey;
                animation-duration: 8s;
                animation-delay: -1.20s;
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%, -50%);
                z-index: 50;
                border: none;
            }
            .hero-anim {
                position: absolute;
                top: 20%;
                left: 18%;
                width: 57%;
                height: 100%;
                background: url(/img/main-anim/personnage_1.gif);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                z-index: 200;
            }
        }
        @media screen and (max-width: 700px){
            .main-anim {
                height: 25vh;
            }
        }
        @media #{$mq-medium} {
            .main-anim {
                transform: translateX(-0%) scale(1.1);
            }
        }

        @media #{$mq-large} {
            .main-anim {
                transform: translateX(-0%) scale(1.2);
            }
        }

         @media #{$mq-xlarge} {
            .main-anim {
                transform: translateX(-0%) scale(1.3);
            }
        }

        @media #{$mq-xxlarge} {
            .main-anim {
                transform: translateX(-0%) scale(1.4);
            }
        }
        @media screen and (min-width: 700px) {
            .main-anim.loading {
                transform: translateX(-75%) scale(0.5);
            }
        }
        
    }
    .why-me.fade-left.start {
        animation-delay: 0.9s;
    }
    .scrollfadeone.fade-left.creative-descr {
        animation-delay: 0.5s;
    }
    .scrollfadetwo.fade-right.versatile-descr {
        animation-delay: 0.7s;
    }
    .anim-versatile.scrollfadetwo.fade-shoot-left {
        animation-delay: 0.3s;
    }
    
    .anim-scene {
        width: 80vw;
        max-width: 200px;
        height:50vh;
        max-height:200px;
        position: relative;
        transition: all 300ms ease-in-out;
        margin-right: 0px;
        margin-left: 0px;
        background: radial-gradient(199.94% 199.94% at 147.52% -99.94%, #424F60 0%, #A5C6F0 100%);
        margin-bottom: 50px;

        .lightning {
            position: absolute;
            width:20%;
            height: 20%;
            top:0%;
            left:40%;
            background: url(/img/main-anim/lightning.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            transition: all 300ms cubic-bezier(.5,.01,.61,1.79);
            transform: scaleX(0.2) translateY(100%);
            opacity: 0;
            animation-name: animate-lightning;
                animation-duration: 5s;
                animation-iteration-count: infinite;
                animation-delay: 0.15s;
                animation-timing-function: cubic-bezier(.5,.01,.61,1.79);
        }
        .filled-anim {
            width:20%;
            height:0.7%;
            background: $CTA-color;
            position: absolute;
            
        }
        .filled-anim.left-down {
            transform-origin: left center;
            width:20%;
            transform: rotate(-172deg) scaleX(0);
            top: 12%;
            left: 37%;
            animation-name: animate-filled1;
                animation-duration: 5s;
                animation-iteration-count: infinite;
                animation-delay: 0.2s;
                animation-timing-function: cubic-bezier(.5,.01,.61,1.79);
        }
        .filled-anim.right-down {
            transform-origin: right center;
            width:22%;
            transform: rotate(-194deg) scaleX(0);
            top: 12%;
            right: 37%;
            animation-name: animate-filled2;
                animation-duration: 5s;
                animation-iteration-count: infinite;
                animation-delay: 0.33s;
                animation-timing-function: cubic-bezier(.5,.01,.61,1.79);
        }
        .filled-anim.right-up {
            transform-origin: right center;
            width:22%;
            transform: rotate(-228deg) scaleX(0);
            top: 6%;
            right: 42%;
            animation-name: animate-filled4;
                animation-duration: 5s;
                animation-iteration-count: infinite;
                animation-delay: 0.2s;
                animation-timing-function: cubic-bezier(.5,.01,.61,1.79);
        }
        .filled-anim.left-up {
            transform-origin: left center;
            width:15%;
            transform: rotate(-126deg) scaleX(0);
            top: 4%;
            left: 43%;
            animation-name: animate-filled3;
                animation-duration: 5s;
                animation-iteration-count: infinite;
                animation-delay: 0.39s;
                animation-timing-function: cubic-bezier(.5,.01,.61,1.79);
        }

        .body {
            position: relative;
            width: 50%;
            height:100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            top:20%;
            left:25%;
            
        }
        .hero-versatile {
            background: url(/img/main-anim/versatile-hero.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            animation-delay: 0.5s;
        }
        .hero-versatile.body {
            width:100%;
            left:-10%;
            display:block;
        }
        .hero-creative {
            background: url(/img/main-anim/creative-hero.svg);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            animation-delay: 0.5s;

            .arm {
                width: 22%;
                height: 25%;
                top: 16%;
                left: 13%;
                position: relative;
                background: url(/img/main-anim/creative-hero-arm.svg);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                transform-origin: 38% 84%;
                transform: rotate(152deg) scaleX(1);
                transition: all 300ms ease-in-out;
                animation-name: animate-arm;
                animation-duration: 5s;
                animation-iteration-count: infinite;
                animation-delay: 0s;
                animation-timing-function: cubic-bezier(.5,.01,.61,1.79);

                .finger {
                    width: 16%;
                    height: 21%;
                    bottom: 93%;
                    left: 59%;
                    position: absolute;
                    border-radius: 70px;
                    background: #C6825E;
                    transform: rotate(16deg) scaleY(0.2);
                    transform-origin: center bottom;
                    animation-name: animate-finger;
                    animation-duration: 5s;
                    animation-iteration-count: infinite;
                    animation-delay: 0s;
                    animation-timing-function: ease-in-out;
                    transition: all 300ms ease-in-out;
                }
            }
            .eyebrow {
                position: absolute;
                width: 6%;
                height: 0.5%;
                background: #764F27;
                transform: translateY(0);
                transition: all 300ms ease-in-out;
                animation-name: animate-eyebrow;
                    animation-duration: 5s;
                    animation-iteration-count: infinite;
                    animation-delay: 0s;
                    animation-timing-function: cubic-bezier(.5,.01,.61,1.79);
            }
            .eyebrow.left {
                top: 10%;
                left: 41%;
            }
            .eyebrow.right {
                top: 10%;
                right: 42%;
            }
            .eye {
                width:4px;
                height:4px;
                border-radius: 100%;
                position: absolute;
                top: 12%;
                transition: all 300ms ease-in-out;
                transform: translateY(0) translateX(0);
                background: black;

                animation-name: animate-eye;
                    animation-duration: 5s;
                    animation-iteration-count: infinite;
                    animation-delay: 0s;
                    animation-timing-function: linear;
            }
            .eye.left {
                left: 43%;
            }
            .eye.right {
                right:45%;
            }
        }
    }
    @media screen and (min-width: 700px) {
        .anim-scene {
            margin-right: 100px;
            margin-left: 100px;
            max-width: 300px;
            max-height: 300px;
        }
    }
    .swipe-container {
        .swipe-content {
            figure {
                width:100%;
                height: 100%;
                //background: radial-gradient(199.94% 199.94% at 147.52% -99.94%, #424F60 0%, #A5C6F0 100%);
                display: flex;
                flex-direction: column;
                justify-items: center;
                align-items: center;
                position: relative;
                img {
                    width: 90%;
                    height: 50%;
                    display: block;
                    object-fit: contain;
                    object-position: center;
                    transform: translateY(50px);
                    transition: all 300ms ease-in-out;
                }
                figcaption {
                    width:calc(80% - 100px);
                    height:calc(45% - 100px);
                    top:60%;
                    display: flex;
                    flex-direction: column;
                    justify-items: center;
                    align-items: center;
                    padding: 50px;
                    padding-top: calc(50px + 15%);
                    border-radius: 70px;
                    background: $white;
                    box-shadow: 10px 10px 20px rgba($color: $black, $alpha: 0.3);
                    transition: all 300ms ease-in-out;
                    margin-top: -15%;
                    h3 {
                        margin-left: 0px;
                        transition: all 300ms ease-in-out;
                    }
                    p {
                        opacity: 0;
                        transform: translateY(50px);
                        transition: all 300ms ease-in-out;
                        
                    }
                    a {
                        opacity: 0;
                        transform: translateY(50px);
                        transition: all 300ms ease-in-out;
                    }
                }
            }
        }
        .swipe-content.currentSlide {
            figure {
                img {
                    transform: translateY(0px);
                }
                figcaption {
                    background: $CTA-color;
                    //box-shadow: 0px 0px 30px #E4665C;
                    h3 {
                        color: white;
                        opacity: 1;
                    }
                    p {
                        opacity: 1;
                        transform: translateY(0px);
                        color: white;
                    }
                    a {
                        opacity: 1;
                        transform: translateY(0px);
                        color: white;
                        border-color: white;
                    }
                }
            }
        }
    }
    .full-width {
        h2 {
            margin-left:20vw;
        }
    }
    @media screen and (min-width: 700px) {
        .swipe-container {
            .swipe-content {
                figure {
                    width: 60vw;
                    max-width: 800px;
                    height: 100%;

                    figcaption {
                        width:calc(80% - 100px);
                    }
                }
            }
        }
    }
    
    @media screen and (min-width: calc(60vw > 1500px)) {
        .full-width {
            h2 {
                margin-left:calc((60vw - 1500px)/2);
            }
        }
    }
    
}