//colors
$white: #F3F3F3;
$CTA-color:#e4665c;
$black:  #424f60;
$grey: #829CBD;
$light-grey:#A5C6F0;
$error:#E30026;
$correct:#45E6B4;
$disabled: #BFBFBF;

//border

$borderRadius: 70px;

// Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

// Font-Size
$base-font-size: 0.95em;
$link-font-size: 0.75em;
$little-title-font-size: 1.1em;
$title-font-size: 1.5em;

// Line-Height
$base-line-height: 1.5;
$header-line-height: 1.25;